{{ define "main" }}
<script src='https://www.google.com/recaptcha/api.js'></script>

<div id='alert-container'></div>
<form action="http://contact.howmanyisthat.org" accept-charset="UTF-8" method="post" id="contact_form">
    <fieldset class="form-group">
        <label for="name" class="control-label">Name: </label>
        <input type="text" name="name" class="form-control" id="name">
    </fieldset>
    <fieldset class="form-group">
        <label for="email" class="control-label">Email: </label>
        <input type="email" name="email" class="form-control" id="email">
    </fieldset>
    <fieldset class="form-group">
        <label for="message" class="control-label">Message: </label>
        <textarea name="message" class="form-control" id="message"></textarea>
    </fieldset>
    <fieldset class="form-group">
        <label for="human_confirmation" class="control-label">Human confirmation: </label>
        <div class="g-recaptcha" data-sitekey="6LcGLC8UAAAAALQLhgdrOaj7_aTY_vM4Eil_HmeP"></div>
    </fieldset>
    <div class="form-group">
        <input type="submit" value="send" class="btn btn-primary">
    </div>
</form>



{{ end }}

{{ define "script" }}
<script>
    $(function(){
    $('#contact_form').submit(function(e){
      e.preventDefault();
      $.ajax({
        method:$(this).attr('method'),
        url:$(this).attr('action'),
        data:$(this).serialize(),
        success:function(data){
          $('#alert-container').html("<div class='alert alert-success'><p>Message sent!</p></div>");
          $('#name').val('');
          $('#email').val('');
          $('#message').val('');
          window.scrollTo(0,0);
        },
        error:function(data){
          var errors=$('<ul></ul>');
          var response = JSON.parse(data.responseText);
          var item;

          for(var i=0; i<response.length; i++){
            item=response[i];
            var error = $('<li>'+item+'</li>');
            errors.append(error);
          }
          var errorAlert=$('<div class="alert alert-danger"></div>');

          errorAlert.append("<p>Please correct the following errors:</p>");
          errorAlert.append(errors);
          $('#alert-container').html(errorAlert);
        },
        complete:function(){
          grecaptcha.reset();
        }
      });
    });
  });
</script>
{{ end }}