/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -1*@footer-height;
  /* Pad bottom by footer height */
  padding: 0 0 @footer-height;
}

/* Set the fixed height of the footer here */
#footer {
  min-height: @footer-height;
  background-color: #f5f5f5;
  font-size:@font-size-base*0.8;
}
#footer p{
  margin:10px;
}

#nav{
  margin-top:10px;
}

/* Selection color */
::selection {
  background: lighten(@brand-primary,40%); /* Safari */
  }
::-moz-selection {
  background: lighten(@brand-primary,40%); /* Firefox */
}

strong{
  color:darken(@brand-primary,20%);
  font-weight:bold;
}

.citation, .citation a{
  font-size: @font-size-small;
  color: @gray-light;
  font-style:italic;
}
.citation a:hover{
  color:@gray;
}

@media print{
  .noPrint, #nav{
    display:none;
  }
}

#social{
  
  font-size:30px;
}
#social a{
  text-decoration:none;
  color:#CCCCCC;
  width:48px;
  height:48px;
  border-style:solid;
  border-width:1px;
  border-color:#EEEEEE;
  display:block;
  padding:3px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  float:left;
  margin-right:10px;
  text-align:center;
  position:relative;
}
#social a.twitter:hover{
  background-color:#00ACED;
  border-color:#00ACED;
  color:white;
}
#social a.facebook:hover{
  border-color:#43609C;
  background-color:#43609C;
  color:white;
}
#social a.email{
  padding-top:3px;
  font-size:28px;
}
#social a.email:hover{
  border-color:@brand-primary;
  background-color:@brand-primary;
  color:white;
}
.jumbotron{
  padding:0;
}
.lead{
  padding:@jumbotron-padding;
}
.navbar-brand{
  font-weight:bold;
  padding-left:0;
  padding-right:0;
}
.navbar:hover .navbar-brand{
  color:@brand-primary;
}
.navbar{
  padding-left:0;
  padding-right:0;
}
.navbar-toggle{
  margin-right:0;
  background-color:white;
}
#dropdownColumn{
  padding:0;
}