<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p class="text-muted credit">If you run into any problems or have any suggestions, please <a href="/contact">contact us</a>.<br>The comparisons on this website are available under a <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">Creative Commons Attribution-ShareAlike 4.0</a> license.</p>
            </div>
        </div>
    </div>
</div>