<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class='navbar-brand' href="/" title="{{ .Site.Title}}" rel="home">{{ .Site.Title }}</a>

        </div>
        <div class="navbar-collapse collapse">
            <ul id="nav" class="nav navbar-nav navbar-right">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                <li {{if ( or  ( $currentPage.IsMenuCurrent "main" . ) ( $currentPage.HasMenuCurrent "main" . ) )}} class="active"{{end}} > <a href="{{.URL}}">{{.Name}}</a></li>
                {{ end }}

            </ul>
        </div>
    </div>
</div>