{{ define "main" }}

<div class="jumbotron">
    <h1>How many is that?</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <p>With all of the violence and unrest in the world, we’ve become even more de-sensitized to large numbers. It’s too hard to fathom what one, two, ten or even twenty million really looks like. The following statistics try to put some of the world’s biggest tragedies (both current and historic) in context. They will help you put these large numbers into perspective using common reference points with which you are already familiar.</p>
    </div>
</div>

{{ end }}